#root {
  margin: 0;
  padding: 0;
  text-align: center;
}

.form-border-shadow {
  border: 1px solid #d1d5db; /* border-gray-300 */
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1); /* shadow-lg */
  border-radius: 0.375rem; /* rounded-md */
}

.form-responsive-width{
  padding: 1.5rem 3rem;
  height: auto;
  margin: 2rem;
}

.profile-base-card {
  margin: 0.75rem auto;
  position: relative;
  background-color: white;
  border-radius: 50px;
  box-shadow: none;
  border: 1px solid #e5e5e5; 

}

.profile-base-card.subcard {
  width: 65vw;
  padding: 0.75rem 0.75rem 0 0.75rem;
}

@media (min-width: 768px) {
  /* Para pantallas medianas en adelante (md) */
  .subcard {
    width: 50vw;
  }
}


@media screen and (max-width: 767px) {
  .form-responsive-width{
    padding: 1.5rem 2rem;
    margin: 0.5rem 0;
  }
}